<div class="container">
    <h1 class="mt-5">Product Details</h1>
    <div class="details">
      <div class="d-flex align-items-center justify-content-between mb-3"><h5>Name</h5><p> {{product?.name}}</p></div>
      <div class="d-flex align-items-center justify-content-between mb-3"><h5>Expiration Date</h5><p>{{product?.expirationDate | date: 'dd/MM/yyyy'}}</p></div>
      <div class="d-flex align-items-center justify-content-between mb-3"><h5>Items In Stock</h5><p>{{product?.itemsInStock}}</p></div>
      <div class="d-flex align-items-center justify-content-between mb-3"><h5>Receipt Date</h5><p>{{product?.receiptDate | date: 'dd/MM/yyyy'}}</p></div>
      <div class="d-flex align-items-center justify-content-between mb-3"><h5>Rating</h5><p>{{product?.rating}}</p></div>
      <div class="d-flex align-items-center justify-content-between mb-3"><h5>Brand Name</h5><p>{{product?.brandName}}</p></div>
      <div class="d-flex align-items-center justify-content-between mb-3"><h5>Category Names</h5><div class="d-flex align-items-center"><p *ngFor="let category of product?.categoryNames">{{category}}</p></div></div>
      <div class="d-flex align-items-center justify-content-between mb-3"><h5>Featured</h5> <div [ngSwitch]="product?.featured">
        <div *ngSwitchCase="true" class="d-flex align-items-center">
          <span class="badge-circle badge-circle-xs badge-circle-success ml-3"></span>
        </div>
        <div *ngSwitchCase="false" class="d-flex align-items-center">
          <span class="badge-circle badge-circle-xs badge-circle-danger ml-3"></span>
        </div>
      </div></div>
    </div>
    <a href="#" [routerLink]="['/edit-product', product?.id]" class="btn btn-outline-warning mt-5 mr-3 mb-5">Edit</a>
    <button (click)="deleteProduct(product?.id)" type="button" class="btn btn-outline-danger mt-5 mb-5 mr-3">Delete</button>
    <a  href="#" [routerLink]="['/']" class="btn btn-outline-primary mt-5 mb-5">Back To Product List</a>
</div>